body {
  background-color: black;
}

canvas {
  border: 1px solid #262626;
}

p, h2, h1, h3, h4, li, label {
  color: lightgrey;
  line-height: 1.5;
}

.generationText {
  margin: 0 0 9px 0;
}

#wrapper {
  margin-left: 16px;
}

#blue {
  color: rgb(100, 130, 150)
}

#red {
  color: rgb(200, 80, 80)
}

#textContainer {
  display: inline-block;
}

#sliderContainer {
  display: inline-block;
}

#sliderContainer div {
  display: inline-block;
  margin: 0 10px;
}

#ecosystem {
  margin-top: 16px;
}

.start {
  background-color: green;
  width: 80px;
  border-color: white;
  color: white;
}

button {
  color: #c5cfe0;
  height: 30px;
  background: rgba(0,0,0,0);
  border: solid 2px #c5cfe0;
  border-radius: 6px;
  margin: 0 10px;
}
button:hover,
button.hover {
  border-color: #a0a9bc;
  color: #a0a9bc;
}
button:active,
button.active {
  border-color: #46484c;
  color: #46484c;
}

select {
  color: #c5cfe0;
  height: 30px;
  background: rgba(0,0,0,0);
  border: solid 2px #c5cfe0;
  border-radius: 6px;
  margin: 0 10px;
}
